astropy==4.0.1.post1
camb==1.1.3
git+https://github.com/cmbant/camb
click==7.1.2
cosmosis-standalone==0.2.2
DynamicTable==0.0.4
firecrown @ git+https://github.com/LSSTDESC/firecrown/@fd4bb423aac8221ed0826a5921bc5590770f4bcb
gast==0.2.2
gmpy2==2.1.0b1
graphviz==0.14
h5py==2.10.0
importlib-metadata==1.7.0
jax==0.1.75
jax-cosmo==0.1rc6
jaxlib @ https://storage.googleapis.com/jax-releases/cuda101/jaxlib-0.1.52-cp38-none-manylinux2010_x86_64.whl
joblib==0.15.1
keract==4.2.2
keras-tcn==3.1.1
lightgbm==2.0.12
matplotlib==3.1.3
mock==4.0.2
mpi4py==3.0.3
numpy==1.18.1
pandas==0.25.3
pillow==7.1.2
progressbar==2.5
pyccl==2.1.0
pydot==1.4.1
PyYAML==5.3.1
sacc==0.4.2
schwimmbad==0.3.1
scikit-learn==0.22.2.post1
scipy==1.4.1
sip==4.19.13
statsmodels==0.11.1
tensorboard==2.2.2
tensorflow==2.2.0
tensorflow-addons==0.10.0
tensorflow-estimator==2.2.0
tensorflow-probability==0.10.0
keras_contrib # installed using pip3 install git+https://www.github.com/keras-team/keras-contrib.git
